.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.articlesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.articleCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  height: 310px;
  width: 310px;
  margin: 14px;
  background-color: rgb(247, 210, 162);
}

#article-title {
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#article-topic {
  font-size: small;
}
#article-author {
  font-size: small;
}
#article-created {
  font-size: small;
}
#article-comments {
  font-size: small;
}

.NavBar {
  border-color: black;
  border-width: 1px;
}

.article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  min-height: 310px;
  width: 95%;
  margin: 10px;
  background-color: rgb(247, 210, 162);
}
hr {
  width: 90%;
  border: 1px solid black;
}
.upvoter {
  background-color: rgb(249, 230, 205);
}
.comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
  min-height: 1px;
  width: 95%;
  margin: 14px;
  background-color: rgb(247, 162, 162);
}
.comment-block {
  list-style: none;
}

.nav-bar {
  border-color: blue;
  border-width: 3px;
  margin: 1px;
}
.vote-err {
  color: rgb(194, 4, 4);
  font-size: small;
}
#text-box{
min-width: 350px;
min-height: 75px;
background-color: rgba(255, 255, 255, 0.655);
}